<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>cdz.restartslack</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>/Users/cdzombak/Applications/Restart Slack if Not Frontmost.scpt</string>
	</array>
	<key>StartInterval</key>
	<integer>2700</integer>
</dict>
</plist>

<!-- @@@@LingonWhatStart:/usr/bin/osascript /Users/cdzombak/Applications/Restart\ Slack\ if\ Not\ Frontmost.scpt@@@@LingonWhatEnd -->